<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>oracleadmintst.gksm.local:11000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <omitEmptyFields>true</omitEmptyFields>
                    <pattern>
                        {
                        "appname": "${appName}",
                        "logger": "%logger",
                        "level": "%level",
                        "thread": "%thread",
                        "message": "#asJson{%message}",
                        "traceId": "#asLong{%mdc{traceId}}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="stash" />
    </root>
</configuration>